body {
     background: url("../images/cold-liquid-light-black-and-white-white-night-618853-pxhere.com.jpg");
     /* assets/images/cold-liquid-light-black-and-white-white-night-618853-pxhere.com.jpg */
     font-family: 'Sarabun', sans-serif;
}

.jumbotron{
    position: relative;
    background: url("../images/beer442Edited.jpg");
}

.jumbotron h4 {
    font-family: 'Sarabun', sans-serif;
}

#search-button {
    font-weight: bold;
}
#collapse-link{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    font-weight: bold;
    text-align: center;
}

.jumbotron h1 {
    font-family: 'Ewert', cursive;
    font-size: 100px;
    color: black;
}

.card-header {
    background: url("../images/beerCardHeader.png");
    
}

.nav-item {
    background: url("../images/beerNavTab.png");
}

.card-footer {
    background: url("../images/beerCardFooter.png");
}

a[aria-selected="false"] {
    background: url("../images/navTabInactive.png");
}

a:link {
    color: black;
}

.tab-pane {
    margin-top: 25px;
}

/* table scrollable   */
tbody{
    
    overflow:auto;
    height:200px;
    width:100%;
    position: relative;
    
}  
  thead tr{
    
    position: relative;
    width:100%;
  }
/* SLIDESHOW BACKGROUND NO TOUCHY */
.crossfade > figure {
    animation: imageAnimation 75s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
  }
  
  .crossfade > figure:nth-child(1) { background-image: url("../images/Beer_and_Wooden_Barrel_Background_Image.jpg"); }
  
  .crossfade > figure:nth-child(2) {
    animation-delay: 15s;
    background-image: url("../images/Beers_and_Beer_Wooden_Barrel_Background.jpg");
  }
  
  .crossfade > figure:nth-child(3) {
    animation-delay: 30s;
    background-image: url("../images/alcohol-alcoholism-ale-background-bar-beer-1447581-pxhere.com.jpg");
  }
  
  .crossfade > figure:nth-child(4) {
    animation-delay: 45s;
    background-image: url("../images/alcohol-alcoholism-ale-background-bar-beer-1457325-pxhere.com.jpg");
  }
  
  .crossfade > figure:nth-child(5) {
    animation-delay: 60s;
    background-image: url("../images/cold-liquid-bar-foam-celebration-beverage-495781-pxhere.com.jpg");
  }
  
  @keyframes 
  imageAnimation {  0% {
   animation-timing-function: ease-in;
   opacity: 0;
  }
   8% {
   animation-timing-function: ease-out;
   opacity: 1;
  }
   17% {
   opacity: 1
  }
   25% {
   opacity: 0
  }
   100% {
   opacity: 0
  }
  }
  /* END SLIDESHOW*/

  #nav-description {
      font-family: 
  }


  
  
